*{
    margin:0;
    padding:0;
    user-select: none !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    background-color: red;
    width: 100%;
    height: 100vh;
}

.containerFluid{
    width: 30rem ;
    margin: 0 auto;
    transition: 2s;
    padding: 1.5rem;
    color:#F6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: blue;
}

.titleGame{
    font-size: 1.8rem;
}

.titleGame2{
    animation: textoSaindoDeCima 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    font-size: 1.8rem;
}

@keyframes textoSaindoDeCima {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px) translateY(-300px);
              transform: translateZ(400px) translateY(-300px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
      opacity: 1;
    }
  }

.btnPlay{
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    cursor: pointer;
}

.boxPlayers{
    width: 100%;
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box{
    margin-top: .5rem;
}

.boxPlayer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: .3rem;
    border: none;
    box-shadow: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 0 .5rem;
    transition: 250ms;
}

.boxPlayers{
    margin: 0;
}

.boxPlayer{
    margin-top: 1rem;
}

.playerTitle{
    font-size: 1rem;
    margin-right: .5rem;
}

.boxPlayer{
    background-color: #252525;
}

.boxPlayer:hover{
    background-color: #313131;
}

.fa-user{
    margin: 0 .1rem;
}

.boxNamesPlayers{
    width: 75%;
    margin: 0 auto;
}

.boxName{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
}

.titleName{
    text-align: center;
    margin: .5rem 0;
}

.inputName, .inputName:focus{
    border: none;
    padding: .5rem;
    border-radius: .2rem;
    box-shadow: none;
    outline: none;
    width: 50%;
}

.btnToPlay, .btnReturn, .btnSave{
    margin-top: 1.5rem;
    width: 50%;
    cursor: pointer;
    padding: .5rem 0;
}

.btnToPlay{
    margin-top: .5rem;
}

.btnReturn, .btnSave{
    margin-top: 1.2rem;
}

.titlePlayBtn{
    font-size: 1rem;
}

#avatarButtonId, #avatarButtonId:focus{
    width: 5rem;
    border: none;
    outline: none;
    box-shadow: none;
    margin-left: 1rem;
    cursor: pointer;
    text-align: center;
    border-radius: .5rem;
    box-sizing: border-box;
    letter-spacing: .05rem;
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
}

#avatarButtonId:hover{
    opacity: 75%;
}

.errorTitle{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-size: 1.2rem;
    letter-spacing: .05rem;
    color: #fd0910;
}

.errorTitle span{
    color:#32e232;
}

.titleAvatar{
    font-size: 1.6rem;
}

.headerName{
    display: flex;
    width: 50%;
    margin: .5rem;
    justify-content: space-around;
}

.warningComment{
    color:rgb(236, 193, 0);
    font-size: 1.4rem;
    font-weight: 600;
}

.containerImages{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
}

.imageAvatar{
    width: 5rem;
    background-color:#25252575;
    margin: .25rem;
    border-radius: .5rem;
    cursor: pointer;
    animation: imageUp 2s alternate-reverse infinite;
}

.imageAvatarButton{
    margin:-.3rem;
}

.avatarChoosen{
    border: 3px solid red;
}

/* Parte tabuleiro (perguntas, avatares etc)*/

.boxPlayerPlay {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #25252580;
    padding: .75rem 1.25rem;
    display: flex;
    align-items: center;
    background-size: cover !important;
}

.boxPlayerTopLeft, 
.boxPlayerTopRight,
.boxPlayerBottomLeft,
.boxPlayerBottomRight {
    position: absolute;
    display: inline-block;
}

/* Top */
.boxPlayerTopLeft, .boxPlayerBottomLeft {
    left: 0;
    border-bottom-right-radius: .5rem;
}

.boxPlayerTopRight, .boxPlayerBottomRight {
    right: 0;
    border-bottom-left-radius: .5rem;
}

/* Bottom */
.boxPlayerBottomLeft {
    bottom: 0;
    border-radius: 0;
    border-top-right-radius: .5rem;
}

.boxPlayerBottomRight {
    bottom: 0;
    border-radius: 0;
    border-top-left-radius: .5rem;
}

.marginTop, .marginBottom{
    font-size: .75rem;
    width: 4rem;
    text-align: center;
}

.marginBottom{
    position: absolute;
    bottom: 6.3rem;
    display: flex;
    flex-direction: column-reverse;
}

.nameBottomUser, .nameTopUser{
    margin-top: 4.25rem;
    text-transform: capitalize;
    text-align: center;
    color: #f5f5f5;
    font-size: 1.2rem;
}

.nameTopUser{
    margin-top:-2rem;
}

.levelBox {
    background-color: #F6f6f6;
    border-radius: .5rem;
    padding: 2rem;
    position: absolute;
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Move a div para o centro corretamente */
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 40rem;
    align-items: center;
}

.level0, .level1, .level2,
.levelButton0, .levelButton1{
    padding: .5rem 2rem;
    color: #F6f6f6;
    font-weight: 600;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #252525;
    transition: 250ms;
    font-size: 1.45rem;
}

.level1, .level2,
.levelButton1{
    margin-top: 3rem;
}

.level0:hover,
.level1:hover,
.level2:hover,
.levelButton0:hover, .levelButton1:hover{
    background-color: #313131;
}

.levelButton0, .levelButton1{
    padding: .5rem 1rem;
    border: none;
    outline: none;
    font-size: 1rem;
}

.boxPerguntas{
    display: flex;
    margin-top: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: .5rem;
}

.numberPergunta{
    margin-right: .5rem;
    font-size: 1.6rem;
    margin-top: -1rem;
}

.perguntaText{
    font-size: 1.2rem;
    text-align: justify;
}

.inputResposta, .inputResposta:focus{
    width: 100%;
    border: 2px solid #252525;
    border-radius: .5rem;
    outline: none;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    padding: .3rem;
}

.buttonConfirmar, .buttonPular{
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background-color: #148d14;
    color: #f6f6f6;
    transition: 250ms;
    border-radius: .5rem;
    cursor: pointer;
    letter-spacing: .05rem;
}

.buttonPular{
    margin-top: 1rem;
    background-color: #b3b003;
}

.buttonConfirmar:hover{
    background-color: #0f580f;
}

.buttonPular:hover{
    background-color: #949100;
}

.buttonPular:disabled, .buttonConfirmar:disabled{
    opacity: 75%;
}

.errorMessageSpace{
    margin-top: 1.5rem;
    margin-bottom: -1rem;
}

.titleSucess{
    letter-spacing: .035rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text1{
    margin-bottom: .5rem;
    font-size: 1.4rem;
}

.text2{
    font-size: 1rem;
}

@keyframes imageUp {
    0%{
        transform: scale(100%);
    }100%{
        transform: scale(95%);
    }
}

@media(max-width:592px){
    .containerFluid{
        width: 90%;
        padding: .5rem;
    }

    .boxPlayer{
        width: 15rem;
        flex-direction: column;
    }

    .boxName{
        justify-content: center;
        margin: 1rem auto;
    }

    .boxNamesPlayers{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .headerName{
        flex-direction: column;
        align-items: center;
        margin: .5rem 0;
    }

    #avatarButtonId, #avatarButtonId:focus{
        margin: 0;
    }

    #avatarButtonId{
        padding: 1rem .5rem;
    }

    .btnToPlay, .btnReturn, .btnSave{
        width: 75%;
    }

    .icons{
        margin-top: .25rem;
    }

    .levelBox{
        padding: 1.5rem;
    }

    .levelBox h3{
        text-align: center;
        font-size: 1rem;
    }

    .perguntaText{
        text-align: justify !important;
        margin: 0 .1rem;
    }
}
