*{
    margin:0;
    padding:0;
    user-select: none !important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    background-color: red;
    width: 100%;
    height: 100vh;
}

.containerFluid{
    width: 30rem ;
    margin: 0 auto;
    transition: 2s;
    padding: 1.5rem;
    color:#F6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blue;
}

.titleGame{
    font-size: 1.8rem;
}

.btnPlay{
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    cursor: pointer;
}

.boxPlayers{
    width: 100%;
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box{
    margin-top: .5rem;
}

.boxPlayer{
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: .3rem;
    border: none;
    box-shadow: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
    margin: 0 .5rem;
    transition: 250ms;
}

.boxPlayers{
    margin: 0;
}

.boxPlayer{
    margin-top: 1rem;
}

.playerTitle{
    font-size: 1rem;
    margin-right: .5rem;
}

.boxPlayer{
    background-color: #252525;
}

.boxPlayer:hover{
    background-color: #313131;
}

.fa-user{
    margin: 0 .1rem;
}

.boxNamesPlayers{
    width: 75% !important;
    margin: 0 auto;
}

.boxName{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.titleName{
    margin: .5rem 0;
}

.inputName, .inputName:focus{
    border: none;
    padding: .5rem;
    border-radius: .2rem;
    box-shadow: none;
    outline: none;
    width: 50%;
}

.btnToPlay, .btnReturn{
    margin-top: 1.5rem;
    width: 50%;
    cursor: pointer;
    padding: .5rem 0;
}

.btnReturn{
    margin-top: 1.2rem;
}

.titlePlayBtn{
    font-size: 1rem;
}

.errorTitle{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -.5rem;
    color: #fd0910;
}

.titleAvatar{
    font-size: 1.6rem;
}

.warningComment{
    color:rgb(236, 193, 0);
    font-size: 1.4rem;
    font-weight: 600;
}

@media(max-width:592px){
    .boxPlayer{
        flex-direction: column;
    }

    .icons{
        margin-top: .25rem;
    }
}